html, body{
	margin: 0;
	padding: 0;
}

.gw2map{
	width: 100%;
	height: 720px;
	margin: 10px 0 10px 0;
	background: #000;
}

.gw2map-layer-contol-icon{
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 0.5em;
}

.gw2map-region-label, .gw2map-map-label, .gw2map-sector-label{
	color: #fff;
	font-family: Menomonia,sans-serif;
	font-style: italic;
	white-space: nowrap;
	text-align: center;
}

.gw2map-region-label{
	font-size: 32px;
}

.gw2map-map-label{
	font-size: 24px;
}

.gw2map-sector-label{
	font-size: 20px;
}

.gw2map-chatlink{
	margin: 0.25em;
	width: 100%;
	cursor: pointer;
	border: 0;
	text-align: center;
	background-color: #eee;
	min-width: 150px;
}

.gw2map-wikilink{

}
